@model PruebaPuntoNet.Models.Departamento

@{
    ViewData["Title"] = "Eliminar Departamento";
}

<h1>@ViewData["Title"]</h1>

<h3>¿Estás seguro de que deseas eliminar este departamento?</h3>
<div>
    <h4>Departamento</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <!-- Agrega otras propiedades del departamento aquí si es necesario -->
    </dl>

    <form asp-action="DeleteConfirmed">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a asp-action="Index">Cancelar</a>
    </form>
</div>
